body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: black !important;
    transform-origin: top left;
    transform: rotate(90deg) translateY(-100%);
    width: 100vh;
    height: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}

.rotated-container {
    transform-origin: top left;
    /* transform: rotate(90deg) */
    position: absolute;
    top: 0;
    left: 0;
}

/* Add your existing styles here */
.header {
    background-image: url("../images/cover.jpg");
    height: 20vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.header h1 {
    font-size: 30px;
    padding: 20px;
    opacity: 1 !important;
}

.head_wrap {
    background-color: rgba(126, 196, 82, 0.5);
}

.aligncenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p {
    font-size: 18px;
    color: white;
}

.spancolor {
    color: #dd9728;
}